<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{{FrontEndAddress}}img/favicon.png" />
    <link rel="stylesheet" href="{{FrontEndAddress}}dependancies/adminlte/adminlte.min.css" />
    <link
      rel="stylesheet"
      href="{{FrontEndAddress}}dependancies/fontawesome-free/css/all.min.css"
    />
    <link rel="stylesheet" href="{{FrontEndAddress}}css/core.css" />
    <title>Connexion</title>
  </head>

  <body class="layout-top-nav custom-bg bg-dark-pines">
    <div class="wrapper">
      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <div class="col-8 offset-2 mt-5">
              <div class="card">
                <div class="card-header bg-success">
                  <h3 class="card-title">
                    <h1 class="fw-semibold mb-7 fs-9">Yeah!!!</h1>
                  </h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                      <img
                        src="{{FrontEndAddress}}img/svgs/1/winner.svg"
                        alt=""
                        class="img-fluid"
                        style="height: 300px"
                      />
                    </div>
                    <div class="col-8">
                      <h1 class="fw-semibold mb-7 fs-9" data-translate="confirmDeviceSuccessTitle">
                        ---
                      </h1>
                      <p>
                        <span data-translate="text1success">---</span>
                      </p>
                      <p>
                        <span data-translate="text2success">---</span>
                      </p>
                      <a
                        class="btn btn-primary"
                        role="button"
                        id="closeHimself"
                        data-translate="close"
                        >---</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script>
            btnClose = document.querySelector("#closeHimself").addEventListener("click", (e) => {
              e.preventDefault();
              close();
            });
          </script>
        </section>
      </div>
    </div>
    <!-- Library externe -->
    <script src="{{FrontEndAddress}}dependancies/jquery-3.7.1.min.js"></script>
    <script src="{{FrontEndAddress}}dependancies/adminlte/adminlte.min.js"></script>
    <script src="{{FrontEndAddress}}dependancies/bootstrap.min.js"></script>
    <script src="{{FrontEndAddress}}dependancies/sweetalert2/sweetalert2.min.js"></script>
    <!-- library interne -->
    <script src="{{FrontEndAddress}}js/core.js"></script>
    <script src="{{FrontEndAddress}}js/library.js"></script>
    <script src="{{FrontEndAddress}}js/translate.js"></script>
  </body>
</html>

<!-- 
<html lang="en"><head>
    <title>ABC Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="handheldfriendly" content="true">
    <meta name="MobileOptimized" content="width">
    <meta name="description" content="Mordenize">
    <meta name="author" content="">
    <meta name="keywords" content="Mordenize">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="{{FrontEndAddress}}img/favicon.ico">
    <link id="themeColors" rel="stylesheet" href="{{FrontEndAddress}}css/modernize.min.css">
    <link rel="stylesheet" href="{{FrontEndAddress}}css/login.css">
  <meta id="ConnectiveDocSignExtentionInstalled" name="ConnectiveDocSignExtentionInstalled" data-extension-version="1.0.6"></head>
  <body>
    <div class="page-wrapper mini-sidebar" id="main-wrapper" data-layout="vertical" data-sidebartype="mini-sidebar" data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-lg-4">
                            <div class="text-center">
                            <img src="{{FrontEndAddress}}img/svgs/1/winner.svg" alt="" class="img-fluid" style="height: 300px;">
                            <h1 class="fw-semibold mb-7 fs-9" data-translate="confirmDeviceSuccessTitle">---</h1>
                            <p>
                                <span data-translate="text1success">---</span>
                            </p>
                            <p>
                                <span data-translate="text2success">---</span>
                            </p>
                            <a class="btn btn-primary" role="button" id="closeHimself" data-translate="close">---</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{FrontEndAddress}}js/library.js"></script>
    <script src="{{FrontEndAddress}}js/translate.js"></script>
    <script>
        btnClose = document.querySelector('#closeHimself').addEventListener('click', (e) => {
            e.preventDefault();
            close();
        });
    </script>
</body>
</html> -->
